*{
    background-color: #00cccc;
    font-family: "Gill Sans Nova", sans-serif;
    color: #FFF;
}
body{
    display: grid;
    height: 1400px;
    width: 1400px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: #00cccc;
}
.title{
    font-family: "Gill Sans Nova Cond XBd", sans-serif;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 1;
    font-size: 80px;
    color: #B57209;
    justify-self: center;
}
.welcome{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 2;
    color: #FFF;
    justify-items: center;
}
.read{
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 6;
    font-size: 45px;
    color: #fff;
    text-align: center;
    justify-content: center;
}
.description{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3;
    font-size: 20px;
    color: #FFF;
    justify-content: center;
}
.pic {
    width: auto;
    min-width: 400px;
    max-width: 400px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
    justify-content: center;
    align-content: center;
}

.carousel {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-content: center;
}
.nav {
    display: grid;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 12;
    justify-self: center;
}
.collapse {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 7;
}