*{
    background-color: #00cccc;
    font-family: "Gill Sans Nova", sans-serif;
    color: #FFF;
}
body{
    display: grid;
    height: 1400px;
    width: 1400px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    background-color: #00cccc;
}
.title{
    font-family: "Gill Sans Nova Cond XBd", sans-serif;
    grid-column-start: 3;
    grid-column-end: 6;
    justify-self: center;
    grid-row: 1;
    font-size: 80px;
    color: #B57209;
}
.welcome{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 2;
    color: #FFF;
}
.read{
    grid-column: 7;
    grid-row: 3;
    font-size: 35px;
    color: #FFF;
}
.description{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row:3;
    /*justify-self: center;*/
    font-size: 20px;
    color: #FFF;
}
.pic {
    width: auto;
    min-width: 400px;
    max-width: 400px;
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

.carousel {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    justify-content: center;
}
